<div class="container-fluid mt-5" id="aboutid">
        <div class="row" >
            <div class="col-md-10 col-12 mx-auto" >
                <h1 class="text-center main-heading" style="color: blue;font-family: 'Ubuntu', sans-serif;">About Us</h1>
                <p class="text-center sub-heading" style="">Grow your business With Us</p>
                <br><br>
                <div class="row" >
                    {{!-- Left-side text --}}

                    <div class="col-md-6 col-12 hero-text" >{{!--order-md-1= Right --}}
                        <figure>
                            <img class="img-responsive mx-auto d-block" style="width: 300px;height:270px; "  src="about-us.jpg" alt="Image">
                        </figure>
                    </div>
                    {{!-- Right side --}}
                    <div class="col-md-6 col-12 hero-text  mx-auto d-block" > {{!--order-md-0= left AND order-1 = Down --}} 
                        <h1 class="col-md-12 col-12 mx-auto d-block" style="font-family: 'Ubuntu', sans-serif; font-size:50px">We Are Professional Developer</h1>
                        
                        <p class="col-md-12 col-12 mx-auto d-block" class="mt-3" style="font-family: 'Federo', sans-serif; font-size:20px">Welcome to <Span style="color: blue;">CupOfCode</Span>,   Your number one source for every Problems.We're Dedicated to serve your requirement with 100% Accurecy and with in efficent Time. We are ready to help you let's change the world.</p>
                        <button class="btn-style btn-primary" style="width:100px; height:35px;font-size:17px; border:0; margin-left:15px">Read More</button>
                    </div>
                </div>
            </div>
        </div>
    </div>