<div class="container-fluid mt-5" id="serviceid">
        <div class="row">
            <div class="col-md-10 col-12 mx-auto">
                <h1 class="text-center main-heading" style="color: blue;font-family: 'Ubuntu', sans-serif;">Our Services
                </h1>
                <p class="text-center sub-heading" style="">Grow your business With Us</p>
                <br>
                <div class="row">
                    <div class="col-md-4">
                        <div class="box">
                            <div class="our-services settings">
                                <div class="icon" align="center">
                                    <img src="https://i.imgur.com/6NKPrhO.png" alt="">
                                </div>
                                    <h4 align="center">Settings</h4>
                                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Corporis, ducimus eius? Excepturi, non. Est ea, quasi nobis minima earum asperiores.</p>
                                
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="box">
                            <div class="our-privacy settings">
                                <div class="icon"  align="center">
                                    <img src="https://i.imgur.com/AgyneKA.png" alt="">
                                </div>
                                    <h4 align="center">Privacy</h4>
                                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Corporis, ducimus eius? Excepturi, non. Est ea, quasi nobis minima earum asperiores.</p>
                                
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="box">
                            <div class="our-backup settings">
                                <div class="icon"  align="center">
                                    <img src="https://i.imgur.com/vdH9LKi.png" alt="">
                                </div>
                                    <h4 align="center">Backup</h4>
                                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Corporis, ducimus eius? Excepturi, non. Est ea, quasi nobis minima earum asperiores.</p>
                                
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="box">
                            <div class="our-sslsecures settings">
                                <div class="icon"  align="center">
                                    <img src="https://i.imgur.com/6NKPrhO.png" alt="">
                                </div>
                                    <h4 align="center">SSL Secures</h4>
                                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Corporis, ducimus eius? Excepturi, non. Est ea, quasi nobis minima earum asperiores.</p>
                                
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="box">
                            <div class="our-services settings">
                                <div class="icon"  align="center">
                                    <img src="https://i.imgur.com/6NKPrhO.png" alt="">
                                </div>
                                    <h4 align="center">Settings</h4>
                                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Corporis, ducimus eius? Excepturi, non. Est ea, quasi nobis minima earum asperiores.</p>
                                
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="box">
                            <div class="our-services settings">
                                <div class="icon"  align="center" >
                                    <img src="https://i.imgur.com/6NKPrhO.png" alt="">
                                </div>
                                    <h4 align="center">Settings</h4>
                                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Corporis, ducimus eius? Excepturi, non. Est ea, quasi nobis minima earum asperiores.</p>
                                
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
